# object files
*.o
*.obj

# executables
*.exe
tiny_shell

# editor/project files
*.swp
.vscode/
tiny_shell

# Ignore VS Code settings
.vscode/

# Ignore compiled files
tiny_shell
*.o
*.out

# Ignore files
main
main1
yeah